.button {
  $color: #ffffff;
  $translate-size: 5px;
  $time: 100ms;

  color: $color;
  padding: 10px;
  font-size: 20px;
  border: 3px solid $color;
  background-color: transparent;
  border-radius: 8px;
  transition: box-shadow $time, transform $time;
  box-shadow: 0 0 0 $color;
  cursor: pointer;

  &:not(:last-child) {
    margin-right: 10px;
  }

  &:hover {
    transform: translateY(-$translate-size/2);
    box-shadow: 0 $translate-size 0 $color;
  }

  &:active {
    transform: translateY($translate-size);
    box-shadow: 0 0 0 $color;
  }
}
