@import '../../index.scss';

.button {
  color: $body-foreground;
  padding: 10px;
  border: 1px solid $body-foreground;
  background-color: transparent;
  border-radius: 8px;
  height: 62px;
  background-position: center;
  transition: background 0.5s;

  &:not(:last-child) {
    margin-right: 10px;
  }

  &:hover {
    background: transparent radial-gradient(circle, transparent 1%, transparent 1%) center/15000%;
  }

  &:active {
    background-color: #fff;
    background-size: 100%;
    transition: background 0s;
  }
}
