.container {
  display: flex;
}

.profile_picture {
  width: 50%;
  border-radius: 50%;
  max-width: 512px;
  max-height: 512px;
}

.text_container {
  text-align: center;
  display: grid;
  align-items: center;
  padding: 20px;
  color: #ffffff;
}

@media screen and (max-width: 1000px) {
  .container {
    display: block;
  }
}
