.container {
    display: block;

    color: #15140e;
    background-color: #ffffff;

    text-align: center;

    border: 2px solid #15140e;
    border-radius: 8px;

    overflow: hidden;

    box-shadow: 0 0 10px #0004;
}

a.container {
    transition: box-shadow 200ms;

    &:hover {
        box-shadow: 0 0 25px #0007;
    }
}

.icon {
    width: 100%;
    padding: 20px;
}

.content {
    background-color: #0000001a;
    border-radius: 8px 8px 0 0;
    padding: 10px;
}

.title,
.content,
.link {
    display: block;
}

.info {
    margin-top: 20px;
}

.title {
    font-size: 2rem;
}

.info {
    color: #15140e;
}

@media only screen and (max-width: 700px) {
    .container {
        width: 100%;
        margin: 0;
        margin-bottom: 20px;

        &:last-child {
            margin: 0;
        }
    }

    .icon {
        width: 50%;
        padding: 20px;
        margin: auto;
    }
}
