.container {
    display: block;

    color: #15140e;
    background-color: #ffffff;

    text-align: center;

    border: 2px solid #15140e;
    border-radius: 8px;

    overflow: hidden;

    box-shadow: 0 0 10px #0004;
}

a.container {
    transition: box-shadow 200ms;

    &:hover {
        box-shadow: 0 0 25px #0007;
    }
}

.icon {
    width: 100%;
    height: auto;
    padding: 20px;
}

.content {
    background-color: #0000001a;
    padding: 10px;
}

.title,
.content,
.link {
    display: block;
}

.info {
    margin-top: 20px;
}

.title {
    font-size: 2rem;
    line-height: 3rem;
}

.info {
    color: #15140e;
}

.small .title {
    font-size: 1rem;
}

@media only screen and (max-width: 700px) {
    .container {
        margin: 0;
        margin-bottom: 20px;
    }

    .icon {
        // width: 70%;
        padding: 20px;
        margin: auto;
    }

    .content {
        padding: 0;
    }
}
