.container {
    color: #fff;
    background-color: #0002;

    width: 30%;
    margin-right: 5%;

    text-align: center;

    border: 2px solid #0008;
    border-radius: 8px;

    overflow: hidden;

    box-shadow: 0 0 10px #0004;

    &:last-child {
        margin-right: 0;
    }
}

.icon {
    width: 100%;
    padding: 20px;
}

.content {
    background-color: #0002;
    border-radius: 8px 8px 0 0;
    padding: 20px;
}

.title,
.content,
.link {
    display: block;
}

.title,
.info {
    margin-top: 20px;
}

.title {
    font-size: 3rem;
}

.info {
    color: #fff8;
}

@media only screen and (max-width: 700px) {
    .container {
        width: 90%;
        margin: auto !important;
    }
}
