@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

$body-background: #22272e;
$body-foreground: #808c99;

$font-size: 16px;
$font-incrementor: 1.5;

html,
body,
#root {
  margin: 0;
  font-family: 'Comfortaa', cursive;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
a {
  color: inherit;
  text-decoration: none;
}

img {
  user-select: none;
}

* {
  font-family: 'Comfortaa';
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: $font-size;
}

h1 {
  font-size: $font-size * $font-incrementor * 2;
}

h2 {
  font-size: $font-size * $font-incrementor * 1;
}
